
<div class="header">
<%= link_to "Home", root_path, class:"home" %>
<div class="hackathon">Hackathon</div>
<%= link_to "Logout 'E#{current_employee.id}'".html_safe, destroy_employee_session_path, method: :delete, class: "logout" %>
</div>

<%= render 'challengeform' %>

<hr>

<%= render 'challenge-show' %>

