/* Dropdown Button */
.dropbtn {
    background-color: #18374D;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-style: none;
    
  }

.dropbtn:focus,.dropbtn:hover,.dropbtn:active,.dropbtn:visited,.dropbtn:link {
    border: none;
    color: white ;
    background-color:#18374D; 
    border-style: none;
    text-decoration: none;
    outline: none;
}
  
  /* Dropdown button on hover & focus */
  
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    right: 15px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #01579B;
    width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: lightgray; color:black;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  .logout, .edit{
      color:black;
      margin: 0px;
  }
  .hr{
      margin: 0px;  
  }