.header{
    height: 35px;
    display: flex;
    justify-content: space-between;
    background-color: #18374D;
    color: white; 
    padding: 5px 10px 0px 10px;
}
.hackathon{
  position: relative;
  left: 20px;
}
.home{
    color: white;
    text-decoration: none;
    position: relative;
    left: 10px;
}

a:link{
    text-decoration: none;
}
a:visited{
    color: white;
}
.vote-button{
    text-decoration: none;
}
.vote-button:visited{
    color: #01579B;
}
.tick:visited{
  color: #01579B;
}
.cross{
  background-color: lightgray;
  color: #01579B;
}
.cross:visited{
  color: #01579B;
}
  


.table-sortable th {
    cursor: pointer;
  }
  
  .table-sortable .th-sort-asc::after {
    content: "\25b4";
  }
  
  .table-sortable .th-sort-desc::after {
    content: "\25be";
  }
  
  .table-sortable .th-sort-asc::after,
  .table-sortable .th-sort-desc::after {
    margin-left: 5px;
  }
  
  .table-sortable .th-sort-asc,
  .table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
  }
  
  #table-header{
    background-color: #01579B;
     color: #FFFFFF;
  }
  #tbody{
    margin: 0px 0px 10px 0px;
  }

  #td1{
    text-align: center;
  }
  #td4{
    width:150px;
     margin-right:10px;
  }
  #td4-div{
    display: flex;
     justify-content:space-between;
  }
  #div1{
    display: flex; 
    justify-content: space-between;
  }
  #div1-div1{
    width: 90%;
  }
  .vote-button{
    margin-right: 20px;
  }
  .votes-count{
    width: 100px;
    text-align: center;
  }
  .created-by{
    width: 100px;

    text-align: center;
  }
.page-link{
  background-color: #01579B;
  transition: none;
}
.pag-div{
  display: flex;
  justify-content:flex-end;
  margin-right: 10px;
  
}
.pag li a {
  background-color :#01579B !important; 
  color: white !important;
  border: 1px solid #18374D !important;
  
}