.header{
    height: 35px;
    display: flex;
    justify-content: space-between;
    background-color: #18374D;
    color: white; 
    padding: 5px 15px 0px 15px;
}

.logout ,.home{
    color: white;
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:visited{
    color: white;
}
.vote-button{
    text-decoration: none;
}
.vote-button:visited{
    color: #01579B;
}
  

//Css for sorting

.table-sortable th {
    cursor: pointer;
  }
  
  .table-sortable .th-sort-asc::after {
    content: "\25b4";
  }
  
  .table-sortable .th-sort-desc::after {
    content: "\25be";
  }
  
  .table-sortable .th-sort-asc::after,
  .table-sortable .th-sort-desc::after {
    margin-left: 5px;
  }
  
  .table-sortable .th-sort-asc,
  .table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
  }
  
  