.header{
    height: 35px;
    display: flex;
    justify-content: space-between;
    background-color: #18374D;
    color: white; 
    padding: 5px 15px 0px 15px;
}

.logout ,.home{
    color: white;
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:visited{
    color: white;
}
.vote-button{
    text-decoration: none;
}
.vote-button:visited{
    color: #01579B;
}
.tick:visited{
  color: #01579B;
}
  

//Css for sorting

.table-sortable th {
    cursor: pointer;
  }
  
  .table-sortable .th-sort-asc::after {
    content: "\25b4";
  }
  
  .table-sortable .th-sort-desc::after {
    content: "\25be";
  }
  
  .table-sortable .th-sort-asc::after,
  .table-sortable .th-sort-desc::after {
    margin-left: 5px;
  }
  
  .table-sortable .th-sort-asc,
  .table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
  }
  
  #table-header{
    background-color: #01579B;
     color: #FFFFFF;
  }
  #tbody{
    margin: 0px 0px 10px 0px;
  }

  #td1{
    text-align: center;
  }
  #td4{
    width:150px;
     margin-right:10px;
  }
  #td4-div{
    display: flex;
     justify-content:space-between;
  }
  #div1{
    display: flex; 
    justify-content: space-between;
  }
  #div1-div1{
    width: 90%;
  }