.hackathon-title{
    background-color: #18374D;
    color: white;
    text-align: center;
}
.login-form-div{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
.label{
    font-weight: bold;
}
.sign-up{
    text-align: center;
    color: #18374D;
}
.signup-form-div{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
.sign-up-btn{
    float: right;
    margin-right: 20px;
    font-size: 20px;
}