<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>New user collaborated</p>
    <p>
    Message:<br>
    ----------
    </p>
  </body>
</html>